{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}
{% block content %}
    <body class="text-center">
    <form class="form-signin" action="#" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required
               autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" value="remember-me"> Remember me#}
{#            </label>#}
{#        </div>#}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </body>
{% endblock %}